* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.life_box {
  padding: 10px;
  display: flex;
  background-color: white;
  width: fit-content;
  border-radius: 20px;
}
.life {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: red;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}
.none_life {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: red;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}

.titele_box {
  color: #333;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  background-color: gray;
}

.life_count_box {
  span {
    color: red;
  }
}
