body {
	background-color: black;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#gameScreen {
	height: 80vh;
	width: 100%;
	overflow:visible;
}

#allContents {
	padding-left: 2%;
	padding-top: 3%;
	justify-content: center;
	display: flex;
	height: 100vh;
	width: 100%;
}

canvas {
	border: 2px solid white;
	background-color: #282828;
}

.gameInfo {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-left: 5%;
    width: 240px;
}

#scoreAndLife {
	color: white;
	margin-top: 150px;
}

#keyExplanation {
	display: flex;
	align-items: center;
	height: 300px;
}

#W, #A, #S, #D {
    background-color: rgb(219, 219, 219);
	position: relative;
}

 #W {
	top: 0px;
	left: 90px;
}

#A {
	top: 60px;
	left: -20px;
}

#S {
	top: 60px;
	left: -13px;
}

#D {
    top: 60px;
	left: -6px;
} 

/* キースタイル */
.key {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    font-size: 20px;
}

.move {
	color: white;
	text-align: center;
	margin-left: 0px;
}

.back {
	margin: 20px;
	cursor: pointer;
  }

.back > span {
	position: fixed;
	bottom: 5%;
	left: 3%;
	color: white;
	font-size: 50px;
  }
