#start {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 10px 20px;
	font-weight: bold;
	background: #ff0000;
	border: 6px outset #6b0000;
	color: #fff;
	transition: 0.5s;
}
#start:hover {
	background: #760000;
	border: 6px outset #e90202;
	color: #fff;
}

#canvas{
    width: 100%;
    height: 50%;
}
img.return{
    width: 5%;
    height: 5%;
}
body{
    .vt323-regular {
        font-family: "VT323", monospace;
        font-weight: 400;
        font-style: normal;
      }   
	  background-color: black;   
}
.font2 {
    font-family: 'dotFont';
  }